[Unit]
Description=Decred Full Node

[Service]
Type=simple
User=aeqd
Group=aeqd
WorkingDirectory=/var/aeqd
ExecStart=/opt/decred/bin/aeqd --appdata=/var/aeqd
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
